PORT=8082
HOST=0.0.0.0
EMAIL_USER=bisflytravels@gmail.com
EMAIL_FROM=bisflytravels@gmail.com
EMAIL_PASS=re_replace_with_resend_key
EMAIL_HOST=smtp.resend.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_SERVICE=resend
RESEND_API_KEY=re_replace_with_resend_key
RESEND_SMTP_USER=resend
RESEND_FROM_EMAIL=bisflytravels@gmail.com
